
<body background="http://thewowstyle.com/wp-content/uploads/2015/04/spring-desktop-backgrounds-hd.jpg">

<center><h1> Welcome to To-do List! </h1>

<p>Choose an option below to get started:</p>


| <a href="/login">Click here to go to login</a> |
 <a href="/new_user_form"> Create a new user</a> |
 <a href="/user_list"> List of Users</a> |
 <a href="/todos/list">View to-do list!</a> |
 <a href="/priorities/new">Choose task priority</a> |
</center>
</body>