<body background="http://thewowstyle.com/wp-content/uploads/2015/04/spring-desktop-backgrounds-hd.jpg">

<center><h1> Welcome! </h1>

<p> Sign in to get started!</p>

<form action = "/login_attempt" method = "get">
  
  <p>
    Email Address: 
    <input type = "text" name = "email">
  </p>

  <p>
    Password: 
    <input type = "text" name = "password">
  </p>

  <input type = "submit">
</form>

<p><a href="/">Home</a></p>
</center></body>