<body background="http://thewowstyle.com/wp-content/uploads/2015/04/spring-desktop-backgrounds-hd.jpg">

<center><h1> Login Failed. Try Again!</h1>

<p><a href="/login">Try Again</a></p>

</center></body>