<body background="http://thewowstyle.com/wp-content/uploads/2015/04/spring-desktop-backgrounds-hd.jpg">

<center><h1> User has been deleted.</h1>
<br><p>Thanks for using our service! Have a good day!</p>

<p><a href="/">Home</a></p></center></body>