
<center>
<h1> Update your information. </h1>

<form action = "/user_updated/<%= @user.id%>" method = "post">
<p>
    Name: 
    <input type = "text" name = "name" value = "<%= @user.name %>">
  </p>
  <p>
    Email Address: 
    <input type = "text" name = "email" value = "<%= @user.email %>">
  </p>
  <p>
    Password: 
    <input type = "text" name = "password" value = "<%= @user.password %>">
  </p>

  <input type = "submit">
</form>
</center>