<center><h1> Sign up Today! </h1></center>
<center>
<form action = "/new_user_created" method = "post">
  
  <p>
    Name: 
    <input type = "text" name = "name">
  </p>
  <p>
    Email Address: 
    <input type = "text" name = "email">
  </p>

  <p>
    Password: 
    <input type = "text" name = "password">
  </p>

  <input type = "submit">
</form>

<p><a href="/">Home</a></p>
</center>