<body background="http://thewowstyle.com/wp-content/uploads/2015/04/spring-desktop-backgrounds-hd.jpg">

<center><h1> User has been updated! </h1>

<p><a href="/">Home</a></p>
<p><a href="/user_list">Back to User List</a></p>
</center></body>