<center><h1> Add a level of priority!</h1>

<form action="/priorities/create" method="post">
  Priority:
  <input type="text" name="priority">
  <br>
  <br>
  <input type="submit">
</form>

<br><br>

<a href="/">Home</a>



</center>