<body background="http://thewowstyle.com/wp-content/uploads/2015/04/spring-desktop-backgrounds-hd.jpg">

<center><h1> <%=@todo.title%> </h1>

<p>
<%= @todo.description%>
</p>



<a href="/">Home</a> | 
<a href="/todos/list">To-do list</a> | 
<a href="/logout">Log out</a> | </center></body>